[submodule "external/builder-hex0"]
	path = external/builder-hex0
	url = https://github.com/ironmeld/builder-hex0.git
[submodule "external/bootstrap-seeds"]
	path = external/bootstrap-seeds
	url = https://github.com/oriansj/bootstrap-seeds.git
